<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.antonio.example.springtddmybatis.mapper.PersonMapper">
    <insert id="save"></insert>

    <select id="findByCpf" resultType="com.antonio.example.springtddmybatis.model.Person">
        SELECT * FROM PERSON WHERE CPF = #{cpf}
    </select>

    <select id="findByTelephoneDddAndTelephoneNumber" resultType="com.antonio.example.springtddmybatis.model.Person">
        <include refid="sqlFindByTelephoneDddAndTelephoneNumber"></include>
        WHERE T.ddd = #{ddd}
        AND T.number = #{number}
    </select>

    <select id="filter" resultType="com.antonio.example.springtddmybatis.model.Person">
        <bind name="filterName" value="'%' + personFilter.name + '%'" />

        SELECT * FROM PERSON WHERE 1 = 1
        <if test="personFilter != null and personFilter.name != null">
            AND P.name like #{filterName}
        </if>
    </select>

    <sql id="sqlFindByTelephoneDddAndTelephoneNumber">
        SELECT
        P.id AS id, P.cpf AS cpf, P.name AS name
        FROM PERSON P
        INNER JOIN TELEPHONE T ON T.person_id = P.id
    </sql>

</mapper>